<!DOCTYPE html>
<html>
<head>
	<title>Membuat Form Html</title>
</head>
<body>
	<center><h1>Membuat Form</h1></center>
	<form>
		<label>nama : </label>
		<input type="text" name="nama" >
		<br><br>
		<label>kelas : </label>
		<select>
			<option selected>pilih</option>
			<option>10</option>
			<option>11</option>
			<option>12</option>
		</select>
		<br><br>
		<label>Jenis Kelamin : </label>
		<label>Perempuan</label>
		<input type="radio" name="gender">
		<label>Laki-laki</label>
		<input type="radio" name="gender">
	</form>
</body>
</html>